.mantine_DatePicker_calendarHeader {
    color: red;
    display: flex;
}
.mantine-DatePicker-calendarHeaderControl {
    color: red;
}
.mantine-DatePicker-calendarHeaderControlIcon {
    color: red;
}
