.sidebar {
    width: 70px;
    height: 100vh;
    border-right: 2px solid #cdcdcd;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #cdcdcd;
}

.iconContainer {
    background-color: #cdcdcd;
    color: red;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer:hover {
    border-radius: 6px;
    background-color: #fff;
    color: #004ee5;
    transition: 0.3s ease-in-out all;
}

.icon {
    width: 1.6rem;
    height: 1.6rem;
    /* color: #000; */
}
.icon:hover {
    color: #004ee5;
}

.active {
    border: 2px solid #cdcdcd;
    border-radius: 6px;
    background-color: #fff;
    color: #004ee5;
}

.active:hover {
    border: 2px solid #cdcdcd;
    border-radius: 6px;
    background-color: #fff;
    color: #004ee5;
}

.iconContainer[data-active],
.iconContainer[data-active]:hover {
    border-radius: 6px;
    background-color: #fff;
    color: #004ee5;
    transition: 0.3s ease-in-out all;
}
